html,
body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.inner {
  min-width: 320px;
  max-width: 840px;
  padding: 2rem;
  background: linear-gradient(#a03296, #6a47b5);
  font-size: 24px;
  line-height: 33px;
  color: #000a2e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.counterContainer {
  background-color: #fff;
  padding: 1rem;
  max-width: 360px;
  margin: 0 auto 2rem;
}

.counterValue {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
}
.buttonsGroupContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.buttonsGroupContainer button {
  flex: 1;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000a2e;
  min-height: 48px;
  padding: 8px;
  text-align: center;
  transition: all 0.3s;
}

.buttonsGroupContainer button:not(:last-child) {
  margin-right: 1rem;
}

.buttonsGroupContainer button:hover {
  border-color: #ccc;
}
